<p id="notice"><%= notice %></p>

<h2>
  <strong><%= @partner.name %>'s Page</strong>
</h2>

<p>
  <strong>Description:</strong>
  <%= @partner.description %>
</p>

<p>
  <strong>Metaname:</strong>
  <%= @partner.metaname %>
</p>
<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>

<hr>

<h2>Featured Posts from <%= @partner.name %></h2>

<% @bulletins.each do |bulletin| %>

  <p><%= link_to bulletin.name, partner_bulletin_path(@partner.id, bulletin.id) %></p>

<% end %>

<%= link_to "Add a new Bulletin for this Partner", new_partner_bulletin_path(partner_id: @partner.id) %>